<div class="order-container container">
  <div class="row order-list-title">
    <div class="col-1">单号</div>
    <div class="col-1 text-center">委托时间</div>
    <div class="col-1 text-center">类别</div>
    <div class="col-1 text-center">市场</div>
    <div class="col-2">单价</div>
    <div class="col-2">数量</div>
    <div class="col-2">金额</div>
    <div class="col-1 text-center">成交率%</div>
    <div class="col-1">全撤</div>
  </div>

  <div class="row order-list-title">
    <div class="col-1">单号</div>
    <div class="col-1 text-center">委托时间</div>
    <div class="col-1 text-center">类别</div>
    <div class="col-1 text-center">市场</div>
    <div class="col-2">单价</div>
    <div class="col-2">数量</div>
    <div class="col-2">金额</div>
    <div class="col-1 text-center">成交率%</div>
    <div class="col-1">全撤</div>
  </div>

</div>
