<div class="col">
  <div class="row border rounded border-primary">
    <div class="col-2">
      <strong class="align-middle">{{symbol}}</strong>
    </div>
    <div class="col-2">
      <div class="header-title d-block">时价</div>
      <div class="header-detail d-block">123</div>
    </div>
    <div class="col-2">
      <div class="header-title d-block">24小时涨跌</div>
      <div class="header-detail d-block">11</div>
    </div>
    <div class="col-2">
      <div class="header-title d-block">24小时最低价</div>
      <div class="header-detail d-block">11</div>
    </div>
    <div class="col-2">
      <div class="header-title d-block">24小时最高价</div>
      <div class="header-detail d-block">11</div>
    </div>
    <div class="col-2">
      <div class="header-title d-block">24小时成交量</div>
      <div class="header-detail d-block">11</div>
    </div>
  </div>
</div>
