<div class="col border text-nowrap">
  <div class="row depth-title depth-flex">
    <div class=" ">价格</div>
    <div class=" text-right ">数量</div>
  </div>
  <div class="sale-container">
    <div class="row  depth-detail depth-flex sale-order" v-for="(item,index) in saleOrder">
      <div class="">{{toFixed(item.price,8)}}</div>
      <div class=" text-right ">{{toFixed(item.amount,8)}}</div>
      <div class="depth-background" :style="{'left':computedDeep(item.amount) + '%'}"></div>
    </div>
  </div>
  <div class="row depth-title">
    <div class="col text-center">
      时价
    </div>
  </div>
  <div class="buy-container">
    <div class="row depth-detail depth-flex" v-for="(item,index) in buyOrder">
      <div class="">{{toFixed(item.price,8)}}</div>
      <div class="text-right ">{{toFixed(item.amount,8)}}</div>
      <div class="depth-background" :style="{'left':computedDeep(item.amount) + '%'}"></div>
    </div>
  </div>

</div>
